/*
---------------------------------------------
Font Reset
---------------------------------------------
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

/*
---------------------------------------------
Layout reset
---------------------------------------------
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  margin: 0;
}

footer {
  background-color: #EFFAFE;
  margin-top: 100px;
}

/* Preloader
===================================================== */
#preloader {
    background: #daf5ff url(../images/icon/preloader.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}
/* =====================================================
Preloader */

/* xxx [xxx]
===================================================== */
.login-img {
  height: 674px;
}

/* ==================================================
xxx [xxx] */


/* xxx [xxx]
===================================================== */
.nav-pills li a:hover {
  background-color: #2366a5;
}

/* ==================================================
xxx [xxx] */



/* xxx [xxx]
===================================================== */

/* ==================================================
xxx [xxx] */



/* xxx [xxx]
===================================================== */

/* ==================================================
xxx [xxx] */



/* xxx [xxx]
===================================================== */

/* ==================================================
xxx [xxx] */
