#preloader {
    background: #daf5ff url(../images/icon/preloader.gif) no-repeat center
        center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

.cardmin {
    height: 350px;
}

@media (max-width: 576px) {
    .cardder {
        margin-right: 5px;
        justify-content: center;
        transform: scale(0.72);
        -webkit-transform: scale(0.72);
        -moz-transform: scale(0.72);
        -ms-transform: scale(0.72);
        -o-transform: scale(0.72);
    }
}
